body {
    background-image: url("/EstructuraDeDatos/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
a{
    color: aqua;
}  